<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>IT Asset Management System</title>

    <!-- Bootstrap -->

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <!-- Bootstrap Icons -->

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Custom CSS -->

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbar navbar-dark bg-dark px-4">

        <a class="navbar-brand fw-bold" href="/">
            <i class="bi bi-pc-display"></i>
            IT Asset Management
        </a>

        <div>

            <span class="text-white me-3">
                Welcome, {{ session['user'] }}
            </span>

            <a href="/logout"
               class="btn btn-danger btn-sm">
               Logout
            </a>

        </div>

    </nav>

    <!-- MAIN CONTENT -->

    <div class="container mt-4">

        {% block content %}

        {% endblock %}

    </div>

</body>

</html>